*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f6f6f9;
    
}
.container{
    height: auto;
    overflow:hidden;
    /* padding-left: 15px; */
}
#nav1 >div{
    display: flex;
    flex-direction: column;
}
.nav #nav1:hover{
    transform: scaleX(1.1) scaleY(1.1);
    /* transform: scaleY(1.1); */
}
.nav img{
    width: 75px;
    /* height: 58px; */
    height: 57px;
    padding: 55px 54px;
}
.nav .box{
    width: 60%;
    margin-top: -226px;
    margin-left: 190px;
    margin-right: -222px;
    height: 500px;
    background: #7378FB;
    float: right;
    transform: rotate(396deg);
    border-bottom-left-radius: 107px;   
} 

/* line command */

.line1{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: #5F646D;
    font-weight: 500;
    margin-left: 54px;
    margin-top: 1px;
    margin-bottom: 8px;
}

  
.line2{
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    line-height: 67px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 54px;
    margin-bottom: 88px;

}




/* button commands */
.entire >div{
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif; */
    margin-left:54px;
    
}
.get1 #btn{
    width: 207px;
    height: 58px;
    padding: 16px 48px;
    font-size: 18px;
    font-weight:500;
    border:2px solid #5E77FB;
    border-radius: 29px;
    letter-spacing: 1px;
}
#btn:hover{
    transform: scale(1.05,1.05);
    transition: 100ms;
}

.get2 img{
    width: 36px;
    height: 36px;
    margin-left: 39px;
    margin-right: -42px;
    margin-top: 8px;
    opacity: 0.3;
    
    /* background-color: transparent; */
}
.get2 img:hover{
    transform: scale(1.2,1.2);
    opacity: 1;
}


.get3{ 
    color: #5F646D;
    margin-top: 10px;
}
.get3 h3 {
    font-size: 10px;  
    margin-bottom: 2px;
}



/* entire */

.entire{
    display: flex;
}


/* empty space */
.empty{
    margin-top: 120px;
}


.overall-grid-1{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    left: 0;
    right: 0;
}

.grid-c1{
    font-family: 'Rubik', sans-serif;
    display: grid;
    width: 360px;
    /* height: 100vh; */
}
.left-1 img{
        margin-left: 52px;
        margin-bottom: 20px;
        width: 56px;
        height: 56px;
}
.left-1 h4{
    font-size: 35px;
    /* font-weight: 500; */
    margin-left: 52px;
    line-height: 1.4;
    color: #5F646D;
}

/* grid-c2 */

.grid-c2{
    
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 220px 220px 220px 220px 220px ;
    display: grid;
    width: 75%;   
    grid-gap: 30px;
    margin-right: 10px;
}


/* .first-box1 content */
.first-box1{
    /* border: 1px solid brown; */
    background: white;
    border-radius: 30px;
    border-bottom: 4px solid #FB7567;
    
}
  #im-logo:hover{ 
    transform: translateY(5px) rotate(4deg) scale(1.16, 1.16);

}  
.first-box1:hover{
    
    border-bottom:8px solid #FB7567;
}

.first-box1 .top-logo{
    display: flex;
    padding: 16px 16px 0 0; 
    justify-content: flex-end;
    background:transparent;
}
.first-box1 #im{
    width: 16px;
    height: 16px;  
    background:transparent;
}
.first-box1 #im-logo{
    text-align: center;
    width: 88px;
    height: 88px;
    padding: 20px 0 0 40px; 
    background:transparent;
}
.first-box1 h5{
    font-size: 16px;
    /* font-weight: 500px; */
    margin-top: 10px;
    text-align: center;
    color: #5F646D;
    background:transparent;
    line-height: 19px;
}



 /* overall 2 div is starting point */
.overall-grid-2{
    height: 763px;
    display: flex;
    left: 0;
    right: 0;
}

.grid-c1{
    font-family: 'Rubik', sans-serif;
    display: grid;
    width: 360px;
    
}
.left-1 img{
        margin-left: 52px;
        margin-bottom: 20px;
        width: 56px;
        height: 56px;
}
.left-1 h4{
    font-size: 35px;
    font-weight: 500; 
    margin-left: 52px;
    line-height: 1.4;
    color: #5F646D;
} 
/* 
.first-box1{
    border-bottom: 4px solid #53DE8A;
} */


/* over all 2 div is finishing */



.overall-grid-3{
    height: 520px;
    display: flex;
    left: 0;
    right: 0;
}
/* .first-box1{
    border-bottom: 4px solid #4FC7FA;
} */

/* overall grid 3 is finished coding */

.twobox{
    display: flex;
    height: 400px;
    padding: 56px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}


.head1 .head2{
    border: 1px solid black;
    
}
.head-div{
    /* border: 1px solid green ; */
    /* background: transparent; */
    display: flex;
}
.head1{
    border: 3px solid #7378FB;
    border-radius: 20px;
    width: 39%;
    padding:56px;
    margin-right: 24px;
    background: #7378FB;
    
}
.head1 p{
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    color: #C3BEFD;
    line-height: 28px;
    /* letter-spacing: 1px; */
}
.head1 h1{
    font-size: 35px;
    /* letter-spacing: 1.2px; */
    background: transparent;
    color: white;
}
a:hover{
    border-bottom: 2px solid #7378FB;
}
#link{
    font-size: 18px;
}
#link a{
    text-decoration: none;
    font-size: 19px;
    background: transparent;
    color: white;
}
.head1 input{
    margin: 32px 24 0px 0px;
    border: none;
}
.head1 #bn1{
    width: 205px;
    padding: 16px 48px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #7378FB;
    margin-top: 43px;
}
#bn1:hover{
    transform: scale(1.05,1.05);
    transition: 100ms;
}
.head2{
    border: 3px solid white;
    background:white;
    width: 40%;
    padding: 56px;
    border-radius: 20px;
}
.head2 .rel1 img{
    width: 56px;
    height: 56px;
    /* margin-left: 10px; */
    margin-right: 10px;
    background: transparent;
}

.head2 .rel2 h3{
    font-size: 15px;
    margin-bottom: 10px;
    background: transparent;
}
.head-div .rel2 h4{
    font-size: 32px;
    font-weight:bolder ;
    background: transparent;
}
.head2 p{
    font-size: 15px;
    text-decoration: 2px solid white;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    background: transparent;
}
#link a:hover{
    border-bottom: 2px solid white;
}
.head2 p a{
    text-decoration: none;
    background: transparent;
}
.but{
    background: white;
}
.but #one{
    /* margin: 32px 24px 0 0; */
    padding: 16px 48px;
    width: 206;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 100px;
    margin-right: 70px  ;
    background: #7378FB;
    border:none;
    color: white;
}
#one:hover{
    transform: scale(1.05,1.05);
    transition: 100ms;
}
.but #two{
    padding: 16px 48px;
    width: 206;
    font-size: 16px;
    border-radius: 100px;
    background: white;
    border: 2px solid #7378FB;
    color: black;  
}
#two:hover{
    transform: scale(1.05,1.05);
    transition: 100ms;
}

.curve{
    
    height: 150px;
    /* border: 1px solid black; */
    /* border-bottom-left-radius: 30px ; */

}

.overall{
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    background: #7378FB;
    align-items: center;
    
    
}

.overall1{
    display: inline-flex;
    margin: 20px 0px 50px 30px;
    margin-left: 50px;
    /* margin-right: 50px; */
    margin-top: 30px;
    /* background: #7378FB; */
    background: transparent;   
}
.overall1 >p{
    color:#C3BEFD;
    margin-right: 10px;
    background: transparent;
}
.overall1 p >a{
    background: transparent;
    text-decoration: none;
    color: white;
}
a:hover{
    border-bottom: 1px solid white;
    font-size: 10px;
}

.overall2{
    display: inline-flex;
    margin-left: 510px;
    /* margin-right: ; */
}
.overall1 #w{
    /* margin-right: 10px; */
    text-decoration: none;
    background: transparent;
    color: white;
}
.icon-one{
    background: #7378FB;
    /* margin-right: 10px; */
    
}
.icon-one span{
    background: transparent;
    font-size: 16px;
    color: white;
}

.icon-one:hover{
    transform: scale(1.1,1.1);
}










.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 14px;
    text-align: center;
    background-color: #6878FB;
    
}
.footer a{
    text-decoration: none;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    color: white;
} 

a:hover{
    font-size: 17px;
}



















































